<ActionBar [title]="'Hola ' + usuario"></ActionBar>
<StackLayout padding="10">
  <TextField hint="Buscar producto" [(ngModel)]="busqueda"></TextField>
  <Button text="Buscar" (tap)="buscar()" class="-primary"></Button>

  <ListView [items]="productos" height="500">
    <ng-template let-item="item">
      <GridLayout columns="*, auto, auto" padding="10">
        <Label [text]="item.nombre" col="0"></Label>
        <Label text="&#xf004;" class="fas" col="1" (tap)="favorito(item)" marginRight="15"></Label>
        <Label text="Leer" col="2" (tap)="leerAhora(item)" color="blue"></Label>
      </GridLayout>
    </ng-template>
  </ListView>
</StackLayout>