<ActionBar class="action-bar">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="50, *">
        <Label class="action-bar-title" text="Home" colSpan="2"></Label>
        <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()" col="0"></Label>
    </GridLayout>
</ActionBar>

<StackLayout class="page__content" verticalAlignment="center">
    <Label text="¡Hola Diana!" style="font-size:24; text-align:center; margin:20; font-weight:bold;"></Label>
    <Button text="VER PRODUCTOS" nsRouterLink="/productos" style="background-color:#5A67D8; color:white; font-size:20; height:70; margin:30; border-radius:15;"></Button>
</StackLayout>